.headtext{
	color: #ffffff;
    text-align: center;
    font-size: 100px;
}
.end
{
    background-color: #cacaca;
    text-align: center;
}
.main
{
    text-align: center;
    font-size: 50px;
}